@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300&family=Patrick+Hand+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300&family=Inter:wght@200&family=Patrick+Hand+SC&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav {
    height: 100px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a {
    text-decoration: none;
}
)
p {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 16px;
    text-align: center;
}
li {
    list-style-type: none;
}

.nav__link--list {
    display: flex;
}

h1 {
    font-family: 'Alegreya Sans SC', sans-serif;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.nav__link--anchor {
    margin: 0 12px;
    text-decoration: none;
    font-weight: 700;
    font-family: 'Patrick Hand SC', cursive;
}

.personal_logo {
    font-size: 21px;
    font-weight: 700;
    font-family: 'Patrick Hand SC', cursive;
    
}
.nav__link--anchor-primary {
    background-color: #6030b1 ;
    padding: 8px 20px;
    color: white;
    border-radius: 50px;
    transition: all 300ms ease;
    font-family: 'Patrick Hand SC', cursive;
}
.nav__link--anchor-primary:hover {
    background-color:#5d3eff; 
}
#about-me {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.about-me__info--container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.about-me__picture-one{
    border-radius: 50%;
    height: 300px;
}
.flex-1 {
    flex: 1;
}
.flex {
    display: flex;
    margin-top: 120px;
}
.row {
 width: 100%;
 max-width: 800px;   
 margin: 0 auto;
}
.about-me__links {
margin-top: 20px;
}
.about-me_logo {
    margin: 0 8px;
}
.wave {
    display: inline-block;
    animation: animate-wave 500ms infinite ease-in-out;
}
.language__img {
    width: 100%;
    max-width: 100px;
    transition: all 300ms;
  }
  .language:hover .language__img {
    filter: brightness(80%);
    opacity: 0.86;
    transform: scale(0.9);
  }
  .text--purple {
    color: #6030b1;
    font-weight: 800;
  }
 
  .language {
    width: 25%;
    display: flex;
    justify-content: center;
    position: relative;
   
    margin-bottom: 5%;
  }
  .language__img--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 16px;
  }
  
  .language__list {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    
  }
  
  .language__name {
    position: absolute;
    bottom: 0;
    transform: scale(0);
    transition: all 300ms;
    font-size: 20px;
    opacity: 0;
    font-family: 'Inter', sans-serif;
  }
  .language:hover .language__name {
    transform: scale(1);
    opacity: 1;
  }
  footer {
    background-color: #242424;
  }
  
  .footer__social--list {
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 28px;
  }
  .footer__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8% 0;
  }
  
  .footer__logo--img {
    width: 70px;
    height: 70px;
  }
  
  .footer__social--link,
  .footer__copyright,
  .footer__logo--popper {
    color: #fff;
  }
  
  .footer__logo--popper {
    position: absolute;
    right: 0;
    top: 30px;
    font-weight: 700;
    opacity: 0;
    transition: all 300ms ease;
  }
  
  .footer__anchor {
    margin-bottom: 20px;
    position: relative;
  }
  
  .footer__anchor:hover .footer__logo--popper {
    transform: translateX(60px);
    opacity: 1;
  }
  
  /* Small phones, tablets, large smartphones */
  @media (max-width: 768px) {
    nav {
      height: 68px;
    }
  
    h1 {
      font-size: 28px;
    }
  
    .about-me__info--para {
      font-size: 18px;
    }
  
    .language {
      width: calc(100% / 3);
    }
  
    .project__description--para {
      font-size: 14px;
    }
  
    .project__description {
      left: 30px;
      padding-right: 30px;
    }
  }
  
  .footer__social--link {
    font-family: 'Alegreya Sans SC', sans-serif;
  }